.image1{
    display: block;
    margin: 20px auto;
    width: 150px;
    border-left: 5px dashed blue;
    border-right: 5px dotted red;
    border-top: 5px double green;
    border-bottom: 5px solid purple;
    border-radius: 6px;
}
.image2{
    display: block ;
    margin: 20px auto;
    width: 150px;
    border-right: 5px dashed blue;
    border-left: 5px dotted red;
    border-bottom: 5px double green;
    border-top: 5px solid purple;
    border-radius: 6px;
}
.image3{
    display: block;
    margin: 20px auto;
    width: 150px;
    border: red solid 5px;
}